*{
	margin:0;
	padding:0;
	font-family: 'Roboto Slab', serif;
}
.container{
	max-width:1140px;
}
a{
	text-decoration:none;
	}
a:hover{
	text-decoration:none;
	
}

/* header section*/
.header-bg {
	width:100%;
	height:70px;
	background:#37517e;
   }
.logo {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2;
    padding-top: 7px;
	padding-bottom:7px;
   }
.logo a{
	color:#fff;
}
.logo a:hover{
	text-decoration:none;
	color:#fff;
}
.navbar{
	background:#37517e;
	}
.navbar-toggler-icon{
	background-image:url(../image/icon.png);
	color:#fff;
}
a.nav-link {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    padding-top: 7px;
}
a.get-started {
    min-width: 130px;
    padding: 5px 0px 7px 3px;
    text-align: center;
    color: white;
    border-radius: 50px;
    border: 2px solid #fff;
	background:transparent;
}
a.get-started:hover{
	background:#47b2e4;
	color:white;
}


/*top bg-section*/
.bg-business {
    background: #37517e;
    width: 100%;
    height: auto;
}
.bg-business h2{
    text-transform: capitalize;
    font-size: 47px;
    font-weight: 500;
    color: #fff;
    padding-top: 18%;
}
.bg-business p{
    font-size: 20;
    color: #cec3c396;
}
a.btn-get-started {
    min-width: 135px;
    border-radius: 50px;
    display: inline-block;
    background: #27689d;
    padding: 9px 6px 6px 6px;
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
}
a.btn-get-started:hover{
	text-decoration:none;
	background:#47b2e4;
	color:#fff;
	transition:0.2s;
}
a.btn-watch-video {
    font-size: 20;
    padding: 10 10 10 10;
    color: #ffffff9e;
}
a.btn-watch-video:hover{
	text-decoration:none;
	color:#ffffff9e;
}
a.btn-watch-video i {
    font-size: 25px;
}
a.btn-watch-video i:hover {
    color:#47b2e4;
	transition:0.2s;
}


/*client section*/
.client-bg {
	padding:12px;
	text-align:center;
    background-color: #f3f5fa;
}
.client-img {
	display:inline-block;
    filter: grayscale(1);
    padding: 30px;
	transition:0.8s in-out-ease;
   }
.client-img:hover{
	filter:none;
	transform:scale(1.1);
}


/*about section*/
.about-heading h2 {
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    color: #37517e;
    font-weight: bold;
	position:relative;
}
.about-heading h2::before {
    content: "";
    width: 120px;
    height: 1px;
    display: block;
    position: absolute;
    background: #ddd;
    bottom: -10px;
    left: 45%;
}
.about-heading h2::after {
    content: "";
    display: block;
    width: 44px;
    height: 3px;
    position: absolute;
    background: #47b2e4;
    bottom: -11px;
    left: calc(50% - 20px);
}
.about-content p {
    color: black;
    margin-top: 50px;
    font-size: 15px;
    font-weight: initial;
}
ul {
    list-style: none;
	line-height:2;
}
i.fa.fa-check-circle {
    color: #0963a4;
}
i.fa.fa-check-circle:hover {
    color: #0ccee9;
}
.about-content-right p {
    color: black;
    font-size: 15px;
    margin-top: 30px;
    line-height: 32px;
}
.about-content-right a {
    text-transform: capitalize;
    display: inline-block;
    border: 2px solid #007bff;
    border-radius: 2px;
    padding: 8px 27px;
    color: #007bff;
    font-weight: bold;
    letter-spacing: 1;
    transition: 0.5s;
}
.about-content-right a:hover{
	background:#007bff;
	color:#fff;
	transform:scale(1.1);
	text-decoration:none;
}

/*architect-section */
.architect-bg {
    margin-top: 30px;
    padding-top: 60px;
    background-color: #f3f5fa;
}
.architect-heading h2 {
    font-size: 30px;
    color: #37517e;
    font-weight: 500;
	padding:20px;
}
.architect-heading p {
    font-size: 18px;
    color: #5f6364;
}
.card, .card-header {
    background: #fff !important;
	border:none !important;
}
#accordion .card {
    margin-bottom:20px;
}
.card-header {
    border-bottom: hidden;
    background: white;
}
a.card-link {
    font-size: 22px;
    font-weight: 500;
    color: #302727c9;
	transition:0.3s;
	transform:rotate(276deg);
}
a.card-link span{
	font-size:18px;
}
.card-link i.fa.fa-chevron-down.icon-show {
    font-size: 13px;
    color:#047bff;
	position: absolute;
    top: 10px;
    left: 500;
	transition:0.3s;
	transform:rotate(276deg);
}
a.card-link b {
	color:#47b2e4;
}
a.card-link:hover {
    color:#47b2e4;
	transition:0.1s;
}
.architect-img {
    margin-top: 60px;
}

/*skills sections*/
.skills-bg {
    margin-top: 30px;
    padding-top: 60px;
    }
.skill-img {
    margin-top: 30px;
    padding: 20px;
}
.progress {
    height: 10px !important;
}
.progress-bar {
    background-color: #37517e !important;
}
.progress-bar-content h2 {
    font-size: 37px;
    font-weight: bold;
    color: #37517e;
    margin-top: 20px;
    }
.progress-bar-content p {
    font-size: 17px;
    color: #453e3e;
    line-height: 2;
    font-style: italic;
}
.progress-text h2,.progress-text p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #37517e;
}
.text {
    justify-content: space-between;
}

/*service section*/
.service-bg, .asked-bg,.newsletter-bg{
	margin-top: 30px;
	padding-top: 60px;
    background-color: #f3f5fa;
}
.service-heading h2, .asked-bg h4 {
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #37517e;
	position:relative;
	margin-bottom:35px;
}
.service-heading h2::before,.asked-bg h4::before {
    content: "";
    width: 120px;
    height: 1px;
    display: block;
    position: absolute;
    background: #ddd;
    bottom: -10px;
    left: 45%;
}
.service-heading h2::after,.asked-bg h4::after {
    content: "";
    display: block;
    width: 44px;
    height: 3px;
    position: absolute;
    background: #47b2e4;
    bottom: -11px;
    left: calc(50% - 20px);
}
.icon-box {
    width: 100%;
    height: auto;
	margin-top:10px;
	margin-bottom:20px;
    padding: 20px;
    background: white;
    filter: drop-shadow(1px 1px 2px black);
}
.icon a i {
    font-size: 30px;
    line-height: 2;
	margin-top:10px;
}
.icon-box h3 a{
    font-size: 20px;
	font-weight:bold;
	line-height:2;
	color:#37517e;
	}
.icon-box p {
   font-size: 14px;
}
.icon-box h3 a:hover{
	color:#007bff;
	text-decoration:none;
}
.icon-box:hover{
	transform:translatey(-20px);
	transition:0.2s;
}

/*Call to Action*/

.call-bg{
	background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../images/cta-bg.jpg") fixed center center;
	background-repeat:no-repeat;
	object-fit:cover;
	background-position:center;
	background-size:cover;
	padding:70px;

}
.call-bg h3 {
    font-size: 33px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    margin-top: 15px;
}
.call-bg p {
    font-size: 17px;
    color: #ddd;
}
.btn-call {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 16px 30px;
    border-radius: 50px;
    transition: 0.5s;
	text-transform:capitalize;
    margin: 15px;
    border: 2px solid #fff;
    color: #fff;
}
a.btn-call:hover {
	text-decoration:none;
    color: white;
    background: #007bff;
    transition: 0.3s;
}


/*Portfolio Section*/
.portfolio-content {
    text-align: center;
    margin-top: 30px;
}
.portfolio-content h3 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #37517e;
    margin-bottom: 20px;
	position:relative;
}
.portfolio-content h3::before,.contact-heading h4::before {
    content: "";
    width: 120px;
    height: 1px;
    display: block;
    position: absolute;
    background: #ddd;
    bottom: -10px;
    left: 45%;
}
.portfolio-content h3::after, .contact-heading h4::after {
    content: "";
    display: block;
    width: 44px;
    height: 3px;
    position: absolute;
    background: #47b2e4;
    bottom: -11px;
    left: calc(50% - 20px);
}
a.nav-link {
    color: white;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: bold;
}
.portfolio-nav li {
    background: #47b2e4;
    border-radius: 50px;
    margin-left: 13%;
    padding: 0px 10px 0px 10px;
}
.portfolio-nav li:hover{
	background:#37517e;
	color:#fff;
	transition:0.3s;
}
.portfolio-content p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
}
.images {
    position: relative;
	width:100%;
	}
.images img {
    display: block;
    width: 100%;
    height: auto;
	border-radius:5px;
	transition:0.3s;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #37517e;
    overflow: hidden;
    width: 100%;
    height: 0;
    opacity: 0.8;
    transition: 0.5s ease;
    display: flex;
    justify-content: space-between;
	align-items:center;
	padding-left:10px;
	padding-right:10px;
}
.images-content {
    color: #fff;
    text-transform: capitalize;
	display:flex;
	flex-direction:column;
}
.images:hover .overlay{
	height:50px;
}
.overlay-links a {
    color: #fff;
    margin-top: 20px;
}
a.overlay-content {
    width: 100%;
    color: white;
    font-size: 13px;
    position: absolute;
    text-decoration: none;
    padding-left: 20px;
    text-transform: capitalize;
    line-height: 2px;
    margin-top: 12px;
}
a.overlay-content:hover{
	color:#fff;
	text-decoration:none;
}
.overlay-content span {
    font-size: 8px;
}

	
/*Team sections*/
.team-member {
    margin: 20px;
    padding: 20px;
    justify-items: center;
    filter: drop-shadow(2px 4px 6px black);
    transition: 0.3s;
	background:#fff;
}
.team-member:hover{
	transform:translatex(-20px);
	transition:0.3s;
	}
.member{
    padding: 20px;
    }	
.pic img {
    border-radius: 50%;
    width: 150;
    height: auto;
}
.member-info {
    margin-left: 27px;
}
.member-info h4 {
    color: #37517e;
    font-size: 25px;
    font-weight: bold;
}
.member-info p{
	font-size:15px;
}
.member-info span {
    font-size: 15px;
    line-height: 2;
    font-weight: 500;
}
.member-info span::before {
    content: "";
    width: 57px;
    height: 2px;
    background: #ddd;
    position: absolute;
    display: block;
    left: 40%;
    top: 106px;
}
.member-info p {
    font-size: 13px;
    line-height: 2;
    font-weight: 500;
}
.social {
    text-align: center;
    }
.social a {
    background: #37517e54;
    color: #37517e;
    border-radius: 50%;
    padding: 12px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    display: inline-flex;
}
.social a:hover {
    background: #007bff;
	color:#fff;
	transition:0.3s;
	text-decoration:none;

}

/*Pricing Section*/
.pricing-heading,.contact-heading {
    text-align: center;
    padding-bottom: 30px;
}
.pricing-heading h4, .contact-heading h4{
	margin-top:40px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
	padding-top:35px;
}
.pricing-heading p, .contact-heading p {
    margin-bottom: 0;
}
.plan {
    width: 100%;
    height: auto;
    color: #fff;
    padding: 50px !important;
    border-radius: 5px;
}
.plan:hover{
	box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
	transform:translatex(-20px);
	transition:0.1s;
}
.price {
    border-top: 4px solid #047bff;
}.box {
    max-width: 100%;
    margin: 0 auto 30px auto;
}
.box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
}
.box h5 sup {
    font-size: 28px;
}
.box h5 {
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    margin-bottom: 25px;
}
.box h5 span {
    color: #47b2e4;
    font-size: 18px;
    display: block;
}
.box ul {
    padding: 20px 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
}
.box ul li {
    padding: 10px 0 10px 30px;
    position: relative;
}
.box ul i {
    color: #28a745;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 6px;
}
.box ul .na i {
    color: #ccc;
}
a.btn {
    border-radius: 50px;
    padding: 8px 25px 8px 25px;
    border: 2px solid #17a2b8;
    color: #17a2b8;
}
a.btn:hover{
	color:#fff;
	background:#47b2e4;
}
/*asked- section*/
i.fa.fa-question-circle {
    color: #1181d4a6;
    font-size: 20px;
}

/*Contact Section*/
.info {
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.info i {
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.info i:hover{
	color:white;
	background:#47b2e4;
}
.info h5 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}
.info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}
.form {
    width: 100%;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.form-group {
    margin-bottom: 20px;
}
.form label {
    padding-bottom: 8px;
}
.form input {
    height: 44px;
}
.form textarea {
    padding: 10px 12px;
}
.form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
.form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
.text-center button {
    border-radius: 50px;
    padding: 8px 25px 8px 25px;
    border: 1px solid #0e1a3c;
    color: white;
    background: #047bff;
}
.text-center button:hover {
    background:#37517e;
	transition:0.3s;
	}
	
	
/*newsletter sections*/
.newsletter-heading {
    text-align: center;
    padding: 20px;
    line-height: 2;
}
.newsletter-heading h5 {
    color: #37517e;
    font-size: 25px;
    font-weight: bold;
}
.newsletter-heading p {
    color: #0b0202a8;
}
.news-input {
    border-radius: 50px;
    margin-bottom: 26px;
    margin-top: -20px;
}
.newsletter .input-group-append {
    margin-top: -20px;
    margin-bottom: 26px;
}
span.input-group-text {
    border-radius: 50px;
    background: #047bff;
    color: #fff;
}
span.input-group-text:hover {
    background: #37517e;
    color: #fff;
	transition:0.2s;
}


/*footer section*/
footer.footer-bg {
    margin-top: 35px;
}
footer.footer-bg h5 {
	color: #37517e;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-contact h5{
	text-transform:uppercase;
	font-size:30px;
	}
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 10px;
    line-height: 1;
}
 .footer-links ul a {
    color: #777777;
    display: inline-block;
    line-height: 1;
}
.footer-links ul a:hover {
    text-decoration:none;
}
 .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.social-links a:hover{
	color:white;
	background:blue;
}

/*last footer section*/
footer.last {
    margin-top: 30px;
    background: #37517eed;
    width: 100%;
    height: 100px;
    padding: 29px;
}
.footer-bottom {
    justify-content: space-around;
}
.copyright, .credits {
    font-size: 15px;
    color: #ffffffbd;
}